<%= simple_form_for @evaluacion, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :empleado_id %>
  <%= f.input :servicio_id %>
  <%= f.input :observacion %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                evaluaciones_path, :class => 'btn' %>
  </div>
<% end %>
