<%- model_class = Servicio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:fecha) %></th>
      <th><%= model_class.human_attribute_name(:hora) %></th>
      <th><%= model_class.human_attribute_name(:calificacion_servicio_id) %></th>
      <th><%= model_class.human_attribute_name(:solicitud_servicio_id) %></th>
      <th><%= model_class.human_attribute_name(:cliente_id) %></th>
      <th><%= model_class.human_attribute_name(:reprogramacion_id) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @servicios.each do |servicio| %>
      <tr>
        <td><%= link_to servicio.id, servicio_path(servicio) %></td>
        <td><%= servicio.fecha %></td>
        <td><%= servicio.hora %></td>
        <td><%= servicio.calificacion_servicio_id %></td>
        <td><%= servicio.solicitud_servicio_id %></td>
        <td><%= servicio.cliente_id %></td>
        <td><%= servicio.reprogramacion_id %></td>
        <td><%=l servicio.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_servicio_path(servicio), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      servicio_path(servicio),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_servicio_path,
            :class => 'btn btn-primary' %>
