<%- model_class = Servicio -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:fecha) %>:</strong></dt>
  <dd><%= @servicio.fecha %></dd>
  <dt><strong><%= model_class.human_attribute_name(:hora) %>:</strong></dt>
  <dd><%= @servicio.hora %></dd>
  <dt><strong><%= model_class.human_attribute_name(:calificacion_servicio_id) %>:</strong></dt>
  <dd><%= @servicio.calificacion_servicio_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:solicitud_servicio_id) %>:</strong></dt>
  <dd><%= @servicio.solicitud_servicio_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:cliente_id) %>:</strong></dt>
  <dd><%= @servicio.cliente_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reprogramacion_id) %>:</strong></dt>
  <dd><%= @servicio.reprogramacion_id %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              servicios_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_servicio_path(@servicio), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              servicio_path(@servicio),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
